body {
    background-color: aqua;
}

#container {
    background-color: skyblue;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
}

#myInTeraction {
    padding: 10px;
}

#mapImage {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
nav button{
    font-size: 16px;
    padding: 10px;
}

#knopNoord, #knopZuid {
    display: block;
    width: 300px;
}

#knopWest, #knopOost {
    display: inline-block;
    width: 150px;
}